.widget-compact div[class*="content-inner"] {
  padding: 12px !important;
}

.widget-compact {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget-compact > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.widget-compact > div > div[class*="content-inner"] {
  flex: 1;
}
